In [14]:
import pandas as pd
import csv

In [15]:
data = pd.read_csv("ArticleData.csv")
data.head(5)

Empty DataFrame
Columns: [AID, Article, UID, Stage, Ins, Ser, GrossWT, Country]
Index: []

In [17]:
def BookArticle(AID,Article,UID,Stage,Ins,Ser,GrossWT,Country):
    new_row_data = [AID,Article,UID,Stage,Ins,Ser,GrossWT,Country]
    csv_file = 'ArticleData.csv'
    with open(csv_file, mode='a', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(new_row_data)

In [31]:
BookArticle(1,"Wallet","avdhan10126","Booked",-1,"International Flight Package", 200,"IND")
BookArticle(3,"Pen","avdhan10126","Shipped",-1,"International Flight Package", 20,"IND")
BookArticle(2,"Notebook","avdhan10126","Shipped",-1,"International Flight Package", 300,"IND")
BookArticle(1,"Bottle","avdhan10126","Shipped",-1,"International Flight Package", 400,"IND")
BookArticle(1,"Bottle","avdhan10126","Shipped",-1,"International Flight Package", 400,"IND")
BookArticle(1,"Bottle","avdhan10126","Shipped",-1,"International Flight Package", 400,"IND")
BookArticle(100000,"Bottle","avdhan10126","Shipped",-1,"International Flight Package", 400,"IND")

In [33]:
names = "AID,Article,UID,Stage,Ins,Ser,GrossWT,Country".split(",")
data = pd.read_csv("ArticleData.csv", names = names)
data

,AID,Article,UID,Stage,Ins,Ser,GrossWT,Country
0,1,Wallet,avdhan10126,Booked,-1,International Flight Package,200,IND
1,3,Pen,avdhan10126,Shipped,-1,International Flight Package,20,IND
2,2,Notebook,avdhan10126,Shipped,-1,International Flight Package,300,IND
3,1,Bottle,avdhan10126,Shipped,-1,International Flight Package,400,IND
4,1,Bottle,avdhan10126,Shipped,-1,International Flight Package,400,IND
5,1,Bottle,avdhan10126,Shipped,-1,International Flight Package,400,IND
6,100000,Bottle,avdhan10126,Shipped,-1,International Flight Package,400,IND